/********************************************************************/
/***************************Setting colors***************************/
/********************************************************************/

$lightBlue: hsla(178, 60%, 48%, 1);
$lightBlueHover: rgb(59, 219, 213);
$lightYellow: hsla(39, 88%, 58%, 1);
$lightYellowHover: hsla(39, 100%, 69%, 1);
$DarkNavy: hsla(200, 32%, 15%, 1);
$DarkNavyHover: rgb(43, 60, 69);
$SemiDarkNavy: hsla(200, 35%, 19%, 1);
$Silver: hsla(199, 24%, 73%, 1);
$SilverHover: hsla(199, 24%, 73%, 1);

$YellowBoxShadow: rgb(172, 119, 22);
$LightBlueBoxShadow: rgb(28, 127, 124);
$DarkNavyBoxShadow: rgb(20, 32, 39);
$SilverBoxShadow: rgb(121, 137, 145);
