/**********************************************************************/
/*setting*/
/**********************************************************************/

/****************************setting fonts***************************/

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap");

/****************************Setting page****************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  margin-block: 0;
  outline: none;
  font-family: "Outfit", sans-serif;
}

body {
  text-align: center;
  background: $DarkNavy;
  font-size: 14px;
  font-weight: 500;
  color: $Silver;
}

/****************************setting text*****************************/
h1,
h2,
h4 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

p {
  letter-spacing: 0.9px;
}

#vsCpu,
#players {
  font-size: 20px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  color: $DarkNavy;
}
h5,
h6 {
  font-size: 40px;
  font-weight: 700;
  color: $lightYellow;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}
h6 {
  color: $Silver;
}

#quit,
#nextRound {
  font-size: 16px;
  font-weight: 700;
  color: $DarkNavy;
}

.dark {
  text-transform: uppercase;
  color: $DarkNavy;
}

/***************************Setting button**************************/

button {
  border: none;
  cursor: pointer;
  border-radius: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

/***************************Setting mixxin***************************/
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin row {
  display: flex;
  flex-direction: row;
}
/***************************Text link***************************/
a,
a:visited {
  color: green;
  text-decoration: none;
}
