/**********************************************************************/
/*Main*/
/**********************************************************************/

.game {
  display: none;
  flex-direction: column;
  width: 460px;
  height: 623px;
  min-height: 100vh;
  z-index: 1;
  margin: 0 auto;

  /********************Media********************/
  @media screen and (max-width: 500px) {
    width: 328px;
  }
  /*********************************************/

  .nav-container {
    @include row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 19px;

    /********************Media********************/
    @media screen and (max-width: 500px) {
      margin-bottom: 64px;
    }
    /*********************************************/
    .turn {
      @include row;
      justify-content: center;
      align-items: center;
      width: 140px;
      height: 48px;
      gap: 20px;
      border-radius: 10px;
      background-color: $SemiDarkNavy;
      box-shadow: 0px 4px 0px 0px $DarkNavyBoxShadow;

      /********************Media********************/
      @media screen and (max-width: 500px) {
        width: 96px;
        height: 36px;
        gap: 8px;
        border-radius: 5px;
      }
      /*********************************************/
      .cross-turn {
        display: none;
        /********************Media********************/
        @media screen and (max-width: 500px) {
          width: 16px;
          height: 16px;
        }
        /*********************************************/
      }

      .circle-turn {
        display: none;
        /********************Media********************/
        @media screen and (max-width: 500px) {
          width: 16px;
          height: 16px;
        }
        /*********************************************/
      }

      .turnActive {
        display: block;
      }
    }

    #restart {
      @include center;
      width: 52px;
      height: 48px;
      border-radius: 10px;
      cursor: pointer;
      background-color: $Silver;
      box-shadow: 0px 4px 0px 0px $SilverBoxShadow;
      transition: 0.2s ease-in-out;

      &:hover {
        background: $SilverHover;
      }
      &:active {
        box-shadow: 0 0 0 0;
        transform: translateY(4px);
      }

      /********************Media********************/
      @media screen and (max-width: 500px) {
        width: 40px;
        height: 36px;
        border-radius: 5px;
      }
      /*********************************************/
    }
  }

  .grid-container {
    display: grid;
    width: 460px;
    height: 457px;
    grid-template-columns: 140px 140px 140px;
    grid-template-rows: 132px 132px 132px;
    row-gap: 20px;
    column-gap: 20px;

    /********************Media********************/
    @media screen and (max-width: 500px) {
      width: 328px;
      height: 328px;
      grid-template-columns: 96px 96px 96px;
      grid-template-rows: 88px 88px 88px;
    }
    /*********************************************/

    .box {
      border-radius: 15px;
      background-color: $SemiDarkNavy;
      box-shadow: 0px 8px 0px 0px $DarkNavyBoxShadow;
      transition: 0.3s ease-in-out;
      transition: background-color 0.3s ease-in-out;
      cursor: pointer;
    }
  }
  .result {
    @include row;
    gap: 19px;
    margin-top: 15px;

    .you {
      @include center;
      flex-direction: column;
      width: 140px;
      height: 72px;
      border-radius: 15px;
      background-color: $lightBlue;

      /********************Media********************/
      @media screen and (max-width: 500px) {
        width: 96px;
        height: 64px;
      }
      /*********************************************/
    }
    .ties {
      @include center;
      flex-direction: column;
      width: 140px;
      height: 72px;
      border-radius: 15px;
      background-color: $Silver;

      /********************Media********************/
      @media screen and (max-width: 500px) {
        width: 96px;
        height: 64px;
        border-radius: 10px;
      }
      /*********************************************/
    }
    .cpu {
      @include center;
      flex-direction: column;
      width: 140px;
      height: 72px;
      border-radius: 15px;
      background-color: $lightYellow;

      /********************Media********************/
      @media screen and (max-width: 500px) {
        width: 96px;
        height: 64px;
        border-radius: 10px;
      }
      /*********************************************/
    }
  }
}
/********************interaction with javascript********************/

//launch game page
.launch {
  @include center;
}

//cross hover
.crossHover {
  background-image: url(..//../assets/icon-x-outline.svg);
  background-repeat: no-repeat;
  background-position: center;
  /********************Media********************/
  @media screen and (max-width: 500px) {
    background-size: 45%;
  }
  /*********************************************/
}
//circle hover
.circleHover {
  background-image: url(..//../assets/icon-o-outline.svg);
  background-repeat: no-repeat;
  background-position: center;
  /********************Media********************/
  @media screen and (max-width: 500px) {
    background-size: 45%;
  }
  /*********************************************/
}
//cross clicked
.crossClicked {
  background-image: url(..//../assets/icon-x.svg);
  background-repeat: no-repeat;
  background-position: center;

  /********************Media********************/
  @media screen and (max-width: 500px) {
    background-size: 45%;
  }
  /*********************************************/
}

//circle clicked
.circleClicked {
  background-image: url(..//../assets/icon-o.svg);
  background-repeat: no-repeat;
  background-position: center;

  /********************Media********************/
  @media screen and (max-width: 500px) {
    background-size: 45%;
  }
  /*********************************************/
}
